header{
	padding: 25px;
}
a:hover{
	text-decoration: none!important;
}
h2{
	font-weight: 800;
}
.menu.nav-menu{
	justify-content: center;
}
.main-navigation li{
	margin-right: 15px;
	margin-left: 15px;
}
.main-navigation li a{
	color: #fff;
	font-weight: bold;
	padding: 5px 0;
	border-bottom: 3px solid transparent;
	transition: all .3s;
	font-size: .9rem;
}
.main-navigation li a:hover{
	border-bottom: 3px solid #fff;
}
.custom-logo-link img{
	max-width: 150px;
}
p {
    color: #777;
    line-height: 26px;
    margin: 0 0 20px;
}
.scroll-header{
	background: #212529 !important
}
h2{
	color: #0077C0;
}
.header-1{
	background-image: url(../resources/coaching-affaires.jpg);
	background-size: cover;
	background-position: center;
}
.header-1 .row{
	    padding: 150px 0 100px;
}
.header-1 h1{
	color: #fff;
	font-size: 2.5rem;
	font-weight: 800;
	margin-bottom: 1rem;
	letter-spacing: 0;
}
.header-1 a{
	background: #fff;
	padding: 12px 24px;
	border-radius: 25px;
	display: inline-block;
	color: #212529;
	font-size: 1rem;
}
.header-1 a:hover{
	color: #212529;
}
.cover-black{
	position: relative;
}
.cover-black:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}
.cover-black-w{
	position: relative;
}
.cover-black-w:before{
	content: '';
	position: absolute;
	left: 15px;
	top: 0;
	width: calc(100% - 30px);
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}
.post, .page {
    margin: 0 0 0;
}
.footer-1 .formulario{
	background: #000;
	color: #fff;
	padding: 6%;
}
.footer-1 .formulario input[type="text"]{
	width: 100%;
}
.footer-1 h2{
	font-weight: bold;
	color: #fff;
	margin-bottom: 1rem;
}
.footer-1 input[type="text"], .footer-1 input[type="email"], .footer-1 textarea, .footer-1 input[type="tel"]{
	width: 100%;
	color: #495057;
    background-color: #fff;
    margin-bottom: 1rem;
    background-clip: padding-box;
    padding: .375rem .75rem;
    font-size: .85rem;
    font-weight: 400;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.footer-1 textarea{
	min-height: 100px;
}
.footer-1 .wpcf7-form input[type="submit"]{
	border-radius: 5px;
	padding: 1rem 2rem;
	transition: all .3s;
	color: #0077b7;
    background-color: transparent;
    background-image: none;
    border: 2px solid #0077b7;
    font-size: .8rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}
.footer-1 .wpcf7-form input[type="submit"]:hover{
	background-color: #0077b7;
	color: #fff;
	border: 2px solid #0077b7;
}
.footer-1 .contact-footer{
	background: #0077b7;
	padding: 6%;
}
.footer-1 .contact-footer h2{
	text-transform: uppercase;
	color: #fff;
}
.footer-1 .contact-footer h3{
	opacity: 0.6;
	color: #fff;
}
.footer-1 ul{
	list-style: none;
	margin-left: 0;
	padding-left: 1rem;
}
.footer-1 ul li{
	color: #fff;
}
.footer-1 ul li a{
	color: #fff;
}
.footer-1 p{
	color: #fff;
}
.post, .page {
    margin: 0 0 0;
}
.footer-1 .copyright{
	font-size: .6em;
	color: #fff;
	opacity: .6;
	margin-top: 5rem;
	margin-bottom: 0;
}
.team-single{
	margin-bottom: 3rem;
}
.team-single img{
	width: 100%;
	padding: 5px;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
}
.back-blue{
	background: #164E71;
	min-height: auto;
}
.back-blue h1{
	font-weight: normal;
}
.back-blue .row{
	min-height: auto!important;
}
.wpcf7-form input[type="text"], .wpcf7-form input[type="email"], .wpcf7-form input[type="tel"]{
	width: 100%;
}
.wpcf7-form input::placeholder{
	color: #777;
	-
}
.testimonials-1{
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.testimonials-1 p{
	color: #000
}
.testimonials-1 p.blue-color{
	color: #3472F7;
	font-size: 1.2rem;
}
.testimonials-1 .col-12{
	border-bottom: 1px solid #EEEEEE;
	padding-left: 0;
	padding-right: 0;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
/*Glide Styles*/
.glide__arrow {
    position: absolute!important;
    display: block!important;
    top: 100%!important;
    z-index: 2!important;
    color: white!important;
    text-transform: uppercase!important;
    padding: 9px 12px!important;
    background-color: transparent!important;
    border: none!important;
    border-radius: 4px!important;
    box-shadow: none!important;
    text-shadow: none!important;
    opacity: 1!important;
    cursor: pointer!important;
    transition: opacity 150ms ease, border 300ms ease-in-out!important;
    transform: translateY(-50%)!important;
    line-height: 1!important;
}
.glide__slide{
	max-height: 100%!important;
}
.glide__arrow img{
	max-width: 30px!important;
}
.glide__arrow--right {
    right: calc(50% - 45px)!important;
}
.glide__arrow--left {
    left: calc(50% - 45px)!important;
}
.glide__slide p{
	color: #000!important;
}
.glide__arrow img{
	border: none!important;
}
.menu-toggle {
    display: none;
    border: 0px solid;
    border-radius: 3px;
    background: transparent;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1;
}
.header-areas{
    background-size: cover;
    position: relative;
    background-position: center;
}
.header-areas:before{
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .5);
	z-index: 2;
	position: absolute;
}
.header-areas .container{
	z-index: 3;
	position: relative;
}
.news-item__content.news-item ul{
	margin-left: 0;
}
.button-contact{
	position: absolute;
	top: calc(50% - 16.5px);
    right: calc(50% - 51.5px);
}
.widget_categories ul{
	margin-left: 0;
    list-style: none;
    padding-left: .5rem;
}
.widget_categories ul li:nth-child(2n) a{
	background-color: #164E71;
	color: #fff;
}
.widget_categories ul li a{
	color: #000;
	padding: .5rem;
	display: inline-block;
}
.overlay-blue:before{
	position: absolute;
	transition: .3s;
	background: rgba(0, 119, 192, 0.6);
	background-image: url(https://levasseurwarren.ca/wp-content/uploads/2021/02/increase-1.png);
	    background-size: initial;
    background-repeat: no-repeat;
	background-position: center;
	content: '';
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	pointer-events:none;
}
.overlay-blue:hover:before{
	left: 0;
}
@media screen and (max-width: 800px){
	.linkedin-header {
	    display: block;
	    position: absolute;
	        right: -30px!important;
    top: -15px!important;
	}
	.main-navigation li a {
	    font-size: .7rem;
	}
}
@media screen and (max-width: 500px){
	.cover-black-w{
		display: none;
	}
	#masthead{
		background: #212529 !important;
	}
    .site-branding{
        width: 75%
    }
    .menu-toggle{
        display: block;
        position: absolute;
        right: 10px;
        top: 30px;
        max-width: 50px;
        padding: 0;
    }
}