.testimonials-1{
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.testimonials-1 p{
	color: #000
}
.testimonials-1 p.blue-color{
	color: #3472F7;
	font-size: 1.2rem;
}
.testimonials-1 .col-12{
	border-bottom: 1px solid #EEEEEE;
	padding-left: 0;
	padding-right: 0;
	padding-top: 2rem;
	padding-bottom: 2rem;
}