.testimonials-1{
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.testimonials-1 p{
	color: #000
}
.testimonials-1 p.blue-color{
	color: #3472F7;
	font-size: 1.2rem;
}
.testimonials-1 .col-12{
	border-bottom: 1px solid #EEEEEE;
	padding-left: 0;
	padding-right: 0;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.button-group{
	text-align: left;
	margin-bottom: 5rem;
	margin-top: 2rem;
}
.button-group button{
	background: transparent;
	border: none;
	display: block;
	cursor: pointer;
	border-bottom: 2px solid transparent;
}
.button-group button.active{
	border-bottom: 2px solid #0077b7;
	color: #0077b7;
}